/* Imports */
@import url("reset.css");

/* Fonts */
@font-face {
		font-family: 'Avenir';
		font-weight: 'light';
		src: url('fonts/AvenirLTStd-Light.otf');
}
@font-face {
		font-family: 'Avenir';
		font-weight: 'medium';
		src: url('fonts/AvenirLTStd-Medium.otf');
}

@font-face {
		font-family: 'Avenir';
		font-weight: 'heavy';
		src: url('fonts/AvenirHeavy.otf');
}

@font-face {
		font-family: 'Proxima Nova';
		font-weight: 'regular';
		src: url('fonts/ProximaNovaRegular.otf');
}
@font-face {
		font-family: 'Proxima Nova';
		font-weight: bold;
		src: url('fonts/ProximaNovaBold.otf');
}

/*Basics*/

/* Headings */
h2 {font-size: 34px; color: #0071bc; line-height: 35px;}
h3 {font-family: 'Proxima Nova'; font-weight: 'regular'; font-size: 40px; color: #fbb03b;}
h4 {font-size: 'Avenir'; font-size: 17px; line-height: 0px;}
h5 {font-size: 1.143em}
h6 {font-size: 1em}
h7 {font-size: 2em; color: #3c3c3c; font-family: 'Avenir';}
h8 {font-weight: 400; color: #1C75BC;}

/*
h2, h3, h4, h5, h6 {
font-weight: 300;
line-height: 1.1;
margin-bottom: .8em;
padding-bottom: 10px;
}
*/


/* This centers the site into a 800px width page */
div.wrapper {
width: 800px;
height: 1185px;
margin: 0px auto;
box-shadow: 0px 0px 25px rgb(162,162,162);
}

/* Defines the overall properties of the website */
body {
width: 100%;
height: 100%;
color: #000;
font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
font-weight: 'regular';
margin: 0;
padding: 0;
text-align: left;
}

div.content {
	position: relative;
	width: 70%;
	margin-left: 15%;
	top: 285px;
	line-height: 25px;
}

div.promo {
	position: relative;
	top: 121px;
	width: 100%;
}

div.body-street {
	position: relative;
	left: 15%;
	top: 250px;
	width: 100%;
}

}
#header-main {
	position: relative;
	}

#header-title {
	font-family: 'Avenir';
	font-weight: 'light';
	color: #0071bc;
	font-size: 33px;
	position: relative;
	left: 55px;
	top: 85px;
}

#header-subtitle {
	font-family: 'Avenir';
	font-weight: 'medium';
	color: #666;
	font-size: 12px;
	position: relative;
	top: 77px;	
	left: 58px;
}

#header-skyline {
	position: absolute;
	top: 0;
}

div.header-wrap {
position: relative;
top: 121px;
width: 100%;
margin: 0px auto;
}

/* NAVIGATION */

/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

nav {
	height: 42px;
	width: 100%;
	background: #e6e6e6;
	font-size: 10pt;
	font-family: 'Avenir';
	font-weight: 'medium';
	position: relative;
	color: #7e858c;
}

nav ul {
	padding: 0;
	margin: 0 auto;
	width: 800px;
	height: 40px;
}

nav li {
	display: inline;
	float: left;
}

nav a:link, #banner nav a:visited {
	color: #808080;
	display: inline-block;
	width: 133px;
	text-align: center;
	text-decoration: none;
	line-height: 42px;
}

nav li:last-child a {
	border-right: 0;
}
nav a:hover, nav a:active {
	background-color: none;
}
nav a#pull {
	display: none;
}

.browse-by-menu {
	margin: 0px;
	background-color:#1B6DE0;
	width:200px;
	top: 141px;
	left: 20px;
	position:relative;
	}
	
.browse-by {
	color:#F2F2F2;
	padding: 1px 5px;
	padding-left: 40px;
	margin-left: 17px;
	}
	
.title {
	padding-left: 20px;
	overflow:hidden;
	}
	
.content {
	height:0px;
	overflow:auto;
	display:none;
	}
	
.categories {
	background-color:#B8B8B8;
	padding-top:1px;
	padding-bottom:1px;
	margin-left:2px;
	margin-right:2px;
	position:float;
	outline-style:solid;
	outline-color:#858585;
	outline-width:thin;
	}
	
.categories-list {
	background-color:#E8E8E8;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
	font-size:80%;
	margin-bottom:0px;
	margin-left: -20px;
	}
	
#categories:hover .content{
	height:inherit;
	display:inherit;
	height:80px;
	overflow-y:scroll;
	} 
	
#categories:hover .content .letters{
	height:inherit;
	display:inherit;
	height:15px;
	}  
	
.gender {
	background-color:#B8B8B8;
	padding-top:1px;
	padding-left: 20px;
	margin-left:2px;
	margin-right:2px;
	position:relative;
	margin-bottom:0px;
	outline-style:solid;
	outline-color:#858585;
	outline-width:thin;
	}
	
.gender-list {
	background-color:#E8E8E8;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
	font-size:80%;
	margin-bottom:0px;
	margin-left: -20px;
	}
	
.brand {
	background-color:#B8B8B8;
	padding-top:1px;
	padding-bottom:1px;
	margin-left:2px;
	margin-right:2px;
	position:relative;
	margin-bottom:0px;
	outline-style:solid;
	outline-color:#858585;
	outline-width:thin;
	}
	
	
.frame {
	background-color:#B8B8B8;
	padding-top:1px;
	padding-bottom:1px;
	margin-left:2px;
	margin-right:2px;
	position:relative;
	margin-bottom:0px;
	outline-style:solid;
	outline-color:#858585;
	outline-width:thin;
	}
	
.frame-list {
	background-color:#E8E8E8;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
	font-size:80%;
	margin-bottom:0px;
	margin-left: -20px;
	}
	
.material {
	background-color:#B8B8B8;
	padding-top:1px;
	padding-bottom:1px;
	margin-left:2px;
	margin-right:2px;
	position:relative;
	margin-bottom:0px;
	outline-style:solid;
	outline-color:#858585;
	outline-width:thin;
	}
	
.material-list {
	background-color:#E8E8E8;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
	font-size:80%;
	margin-bottom:0px;
	margin-left: -20px;
	}
	
.size {
	background-color:#B8B8B8;
	padding-top:1px;
	padding-bottom:1px;
	margin-left:2px;
	margin-right:2px;
	position:relative;
	margin-bottom:0px;
	outline-style:solid;
	outline-color:#858585;
	outline-width:thin;
	}
	
.size-list {
	background-color:#E8E8E8;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
	font-size:80%;
	margin-bottom:0px;
	margin-left: -20px;
	}
	
.glass-style {
	background-color:#B8B8B8;
	padding-top:1px;
	padding-bottom:1px;
	margin-left:2px;
	margin-right:2px;
	position:relative;
	margin-bottom:0px;
	outline-style:solid;
	outline-color:#858585;
	outline-width:thin;
	}
	
.glass-style-list {
	background-color:#E8E8E8;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
	font-size:80%;
	margin-bottom:0px;
	margin-left: -20px;
	}
	
.price-range {
	background-color:#B8B8B8;
	padding-top:1px;
	padding-bottom:1px;
	margin-left:2px;
	margin-right:2px;
	position:relative;
	margin-bottom:0px;
	outline-style:solid;
	outline-color:#858585;
	outline-width:thin;
	}
	
.price-range-list {
	background-color:#E8E8E8;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
	font-size:80%;
	margin-bottom:0px;
	margin-left: -20px;
	}
	
.search {
	top: -305px;
	left: 475px;
	width: 280px;
	position: relative;
	}

.searchbar {
	outline-style:solid;
	outline-color:#BFBFBF;
	background-color:white;
	height:30px;
	}
	
.go-button .go {
	bottom:50%;
	color:#F2F2F2;
	}	

.go-button {
	background-color:#BFBFBF;
	color:#F2F2F2;
	height:80%;
	padding-left: 7px;
	padding-top: 7px;
	position:absolute;
/* 	padding-right:5px; */
	width:25px;
	left:248px;
	}
	
.browse-male-armani {
	position: relative;
	top: -245px;
	left: 282px;
	width: 500px;
	text-align:center;
	font-family: 'Proxima Nova';
	font-size: 16px;
	}
	
.armani {
	float:left;
	margin:5px;
	}

.letter-list1 {
	background-color:#E8E8E8;
	margin-left: -20px;
	padding-left: -30px;
	}
	
.brand-name-list {
	background-color:#E8E8E8;
	position:float;
	margin-top:0px;
	margin-bottom:0px;
	margin-left: -20px;
	}
	
.letter-list1 li {
	display:inline;
	}

.page-changer {
	position:relative;
	top: 425px;
	left: 18px;
	}
	
.page-numbers li {
	display:inline;
	}
	
.cart-dropdown{
	height:0px;
	position:absolute;
	left:85%;
	top:202px;
	overflow:hidden;
	-webkit-transition-duration:0.3s;
	}

#shopping-menu:hover .cart-dropdown{
	width:175px;
	position:absolute;
	left:80%;
	height:200px;
	background-color:#E8E8E8;
	text-align:center;
	outline-style:solid;
	outline-color:#BFBFBF;
	padding:0px;
	}  
	
#items {
	top:30%;
	}
	
#money {
	top:50%;
	}
	
a.button {
	background-color:#F0A61D;
	border: 1px solid #777;
	border-color: rgba(0,0,0,0.2);
	border-bottom-color: #333;
	border-bottom-color: rgba(0,0,0,0.4);
	color: #fff;
	-moz-box-shadow: inset 0 0.08em 0 rgba(255,255,255,0.4), inset 0 0 0.1em rgba(255,255,255,0.9);
	-webkit-box-shadow: inset 0 0.08em 0 rgba(255,255,255,0.4), inset 0 0 0.1em rgba(255,255,255,0.9);
	box-shadow: inset 0 0.08em 0 rgba(255,255,255,0.4), inset 0 0 0.1em rgba(255,255,255,0.9);
	cursor: pointer;
	display: inline-block;
	font: bold 100%/2.1 "Lucida Grande", Tahoma, sans-serif;
	padding: 0 .95em 0 0;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);

	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	-moz-border-radius: .3em;
	-webkit-border-radius: .3em;
	border-radius: .3em;
}
		
ul {
	list-style: none;
	}
	
a {
	text-decoration:none;
	}

a:link {
	color:#000;
	}
	
a:visited {
	color:#3B3B3B;
	}
	
a:hover {
	color:#1B6DE0;
	}
	
.cost {
	position:float;
	left:50%;
	text-align:center;
	}
	
.payment-form {
	position:absolute;
	left:50%;
	}
	
.field {
	padding:10px;
	}

/*Styles for screen 600px and lower*/
@media screen and (max-width: 600px) {
	div.wrapper {
		width: 600px;
		height: 1350px;
		margin: 0px auto;
	}

	#header-skyline {
		position: absolute;
		top: 0;
		width: 600px;
		overflow: hidden;
	}
	
	#header-title {
		width: 600px;
	}
	
	#header-subtitle {
		width: 600px;
	}

	nav { 
  		height: auto;
  	}
  	
  	nav ul {
  		margin-left: 70px;
  		width: 100%;
  		display: block;
  		height: auto;
  	}
  	
  	nav li {
  		width: 26%;
  		float: left;
  		position: relative;
  	}

  	nav a {
	  	text-align: center;
	  	width: 100%;
	  	text-indent: 30	px;
  	}

	div.promo {
		float: left;
		width: 600px;
		position: relative;
	}

  	div.body-street {
		position: relative;
		float: left;
		width: 600px;
		left: 15px;
		top: 200px;
	}
	
	div.content {
		position: relative;
		left: -10px;
		top: 260px;
		width: 450px;
	}
	
	#footer {
		position: relative;
		top: 200px;
		width: 600px;
	}

	#company {
		position: relative;
		top: 190px;
		padding-left: 9%;
		width: 460px;
	}

	.browse-by-menu {
		background-color:#1B6DE0;
		width:200px;
		position:relative;
		left: 0px;
		top: 121px;
		}
		
	.browse-by {
		color:#F2F2F2;
		padding: 1px 5px;
		}
		
	.categories {
		background-color:#B8B8B8;
		padding-top:1px;
		padding-bottom:1px;
		margin-left:2px;
		margin-right:2px;
		position:float;
		outline-style:solid;
		outline-color:#858585;
		outline-width:thin;
		}
		
	.categories-list {
		background-color:#E8E8E8;
		padding-top:5px;
		padding-bottom:5px;
		padding-left:10px;
		font-size:80%;
		margin-bottom:0px;
		}
		
	.gender {
		background-color:#B8B8B8;
		padding-top:1px;
		margin-left:2px;
		margin-right:2px;
		position:relative;
		margin-bottom:0px;
		outline-style:solid;
		outline-color:#858585;
		outline-width:thin;
		}
		
	.gender-list {
		background-color:#E8E8E8;
		padding-top:5px;
		padding-bottom:5px;
		padding-left:10px;
		font-size:80%;
		margin-bottom:0px;
		}
		
	.brand {
		background-color:#B8B8B8;
		padding-top:1px;
		padding-bottom:1px;
		margin-left:2px;
		margin-right:2px;
		position:relative;
		margin-bottom:0px;
		outline-style:solid;
		outline-color:#858585;
		outline-width:thin;
		}
		
	.brand-name-list {
		overflow-y:scroll;
		height:80px;
		}
		
	.frame {
		background-color:#B8B8B8;
		padding-top:1px;
		padding-bottom:1px;
		margin-left:2px;
		margin-right:2px;
		position:relative;
		margin-bottom:0px;
		outline-style:solid;
		outline-color:#858585;
		outline-width:thin;
		}
		
	.material {
		background-color:#B8B8B8;
		padding-top:1px;
		padding-bottom:1px;
		margin-left:2px;
		margin-right:2px;
		position:relative;
		margin-bottom:0px;
		outline-style:solid;
		outline-color:#858585;
		outline-width:thin;
		}
		
	.size {
		background-color:#B8B8B8;
		padding-top:1px;
		padding-bottom:1px;
		margin-left:2px;
		margin-right:2px;
		position:relative;
		margin-bottom:0px;
		outline-style:solid;
		outline-color:#858585;
		outline-width:thin;
		}
		
	.glass-style {
		background-color:#B8B8B8;
		padding-top:1px;
		padding-bottom:1px;
		margin-left:2px;
		margin-right:2px;
		position:relative;
		margin-bottom:0px;
		outline-style:solid;
		outline-color:#858585;
		outline-width:thin;
		}
		
	.price-range {
		background-color:#B8B8B8;
		padding-top:1px;
		padding-bottom:1px;
		margin-left:2px;
		margin-right:2px;
		position:relative;
		margin-bottom:0px;
		outline-style:solid;
		outline-color:#858585;
		outline-width:thin;
		}
		
	.browse-male-armani {
		position: relative;
		top: -245px;
		left: 230px;
		width: 350px;
		text-align:center;
		font-family: 'Proxima Nova';
		font-size: 16px;
		}
		
	.armani {
		float:left;
		margin:5px;
		}

	.search {
		top:288px;
		left:365px;
		width:180px;
		position:absolute;
		}
	
	.searchbar {
		outline-style:solid;
		outline-color:#BFBFBF;
		background-color:white;
		height:30px;
		}
		
	.go-button .go {
		bottom:0px;
		color:#F2F2F2;
		}	
	
	.go-button {
		background-color:#BFBFBF;
		color:#F2F2F2;
		height: 88%;
		position: relative;
		padding-right: 5px;
		padding-top: 10px;
		width: 25px;
		top: -3px;
		left: 153px;
		}
		
	.glasses {
		position:absolute;
		top:300px;
		left:300px;
		}
	
	.letter-list1 {
		background-color:#E8E8E8;
		}
		
	.letter-list2 {
		background-color:#E8E8E8;
		position:relative;
		top:-15px;
		}
		
	.letter-list3 {
		background-color:#E8E8E8;
		position:relative;
		top:-30px;
		}
		
	.letter-list4 {
		background-color:#E8E8E8;
		position:relative;
		top:-45px;
		margin-bottom:0px;
		}
	
	.brand-name-list {
		background-color:#E8E8E8;
		position:relative;
		top:-30px;
		margin-top:0px;
		margin-bottom:0px;
		}
		
	.letter-list1 li {
		display:inline;
		}
		
	.letter-list2 li {
		display:inline;
		}
		
	.letter-list3 li {
		display:inline;
		}
		
	.letter-list4 li {
		display:inline;
		}
		
	.page-changer {
		position:relative;
		top: 640px;
		left: 55px;
		}
		
	.page-numbers li {
		display:inline;
		}
			
	ul {
		list-style: none;
		}
		
	a {
		text-decoration:none;
		}
	
	a:link {
		color:#000;
		}
		
	a:visited {
		color:#3B3B3B;
		}
		
	a:hover {
		color:#1B6DE0;
		}
	
}

/*Styles for screen 515px and lower*/
@media only screen and (max-width : 480px) {
	div.wrapper {
		width: 480px;
		height: 1950px;
		margin: 0px auto;
	}

	#header-skyline {
		position: absolute;
		top: 0;
		width: 480px;
	}

	nav {
		border-bottom: 0;
	}
	
	nav ul {
		margin-left: 40px;
		display: none;
		height: auto;
	}
	
	nav a#pull {
		display: block;
		background-color: #e6e6e6;
		margin-left: 40%;
		font-family: 'Avenir';
		font-weight: 'medium';
		font-size: 15px;
		position: relative;
	}
	
	nav a#pull:after {
		content:"";
		background: url('nav-icon.png') no-repeat;
		width: 30px;
		height: 30px;
		font-family: 'Avenir';
		font-weight: 'medium';
		font-size: 15px;
		display: inline-block;
		position: relative;
		right: 15px;
		top: 10px;
		padding: 0 0 0 20px;
	}
	
		div.promo {
		float: left;
		width: 100%;
		position: relative;
	}

  	div.body-street {
		position: relative;
		float: left;
		width: 480px;
		left: 0px;
		top: 200px;
	}
	
	div.content {
		position: relative;
		left: -10px;
		top: 260px;
		width: 350px;
	}
	
	#footer {
		position: relative;
		top: 240px;
		width: 480px;
	}
	
	#company {
		position: relative;
		top: 190px;
		padding-left: 10%;
		width: 350px;
	}
	
	.browse-by-menu {
		background-color:#1B6DE0;
		width:200px;
		position:relative;
		left: 0px;
		top: 121px;
		}
		
	.browse-by {
		color:#F2F2F2;
		padding: 1px 5px;
		}
		
	.categories {
		background-color:#B8B8B8;
		padding-top:1px;
		padding-bottom:1px;
		margin-left:2px;
		margin-right:2px;
		position:float;
		outline-style:solid;
		outline-color:#858585;
		outline-width:thin;
		}
		
	.categories-list {
		background-color:#E8E8E8;
		padding-top:5px;
		padding-bottom:5px;
		padding-left:10px;
		font-size:80%;
		margin-bottom:0px;
		}
		
	.gender {
		background-color:#B8B8B8;
		padding-top:1px;
		margin-left:2px;
		margin-right:2px;
		position:relative;
		margin-bottom:0px;
		outline-style:solid;
		outline-color:#858585;
		outline-width:thin;
		}
		
	.gender-list {
		background-color:#E8E8E8;
		padding-top:5px;
		padding-bottom:5px;
		padding-left:10px;
		font-size:80%;
		margin-bottom:0px;
		}
		
	.brand {
		background-color:#B8B8B8;
		padding-top:1px;
		padding-bottom:1px;
		margin-left:2px;
		margin-right:2px;
		position:relative;
		margin-bottom:0px;
		outline-style:solid;
		outline-color:#858585;
		outline-width:thin;
		}
		
	.brand-name-list {
		overflow-y:scroll;
		height:80px;
		}
		
	.frame {
		background-color:#B8B8B8;
		padding-top:1px;
		padding-bottom:1px;
		margin-left:2px;
		margin-right:2px;
		position:relative;
		margin-bottom:0px;
		outline-style:solid;
		outline-color:#858585;
		outline-width:thin;
		}
		
	.material {
		background-color:#B8B8B8;
		padding-top:1px;
		padding-bottom:1px;
		margin-left:2px;
		margin-right:2px;
		position:relative;
		margin-bottom:0px;
		outline-style:solid;
		outline-color:#858585;
		outline-width:thin;
		}
		
	.size {
		background-color:#B8B8B8;
		padding-top:1px;
		padding-bottom:1px;
		margin-left:2px;
		margin-right:2px;
		position:relative;
		margin-bottom:0px;
		outline-style:solid;
		outline-color:#858585;
		outline-width:thin;
		}
		
	.glass-style {
		background-color:#B8B8B8;
		padding-top:1px;
		padding-bottom:1px;
		margin-left:2px;
		margin-right:2px;
		position:relative;
		margin-bottom:0px;
		outline-style:solid;
		outline-color:#858585;
		outline-width:thin;
		}
		
	.price-range {
		background-color:#B8B8B8;
		padding-top:1px;
		padding-bottom:1px;
		margin-left:2px;
		margin-right:2px;
		position:relative;
		margin-bottom:0px;
		outline-style:solid;
		outline-color:#858585;
		outline-width:thin;
		}
		
	.search {
		top: -312px;
		left: 250px;
		width:180px;
		position: relative;
		}

	.searchbar {
		outline-style:solid;
		outline-color:#BFBFBF;
		background-color:white;
		height:30px;
		}
		
	.go-button .go {
		bottom:0px;
		color:#F2F2F2;
		}	
	
	.go-button {
		background-color:#BFBFBF;
		color:#F2F2F2;
		height: 88%;
		position: relative;
		padding-right: 5px;
		padding-top: 10px;
		width: 25px;
		top: -3px;
		left: 153px;
		}
		
	.glasses {
		position:absolute;
		top:300px;
		left:300px;
		}
	
	.letter-list1 {
		background-color:#E8E8E8;
		}
		
	.letter-list2 {
		background-color:#E8E8E8;
		position:relative;
		top:-15px;
		}
		
	.letter-list3 {
		background-color:#E8E8E8;
		position:relative;
		top:-30px;
		}
		
	.letter-list4 {
		background-color:#E8E8E8;
		position:relative;
		top:-45px;
		margin-bottom:0px;
		}
	
	.brand-name-list {
		background-color:#E8E8E8;
		position:relative;
		top:-30px;
		margin-top:0px;
		margin-bottom:0px;
		}
		
	.letter-list1 li {
		display:inline;
		}
		
	.letter-list2 li {
		display:inline;
		}
		
	.letter-list3 li {
		display:inline;
		}
		
	.letter-list4 li {
		display:inline;
		}
		
	.page-changer {
		position:relative;
		top: 1255px;
		left: 138px;
		}
		
	.page-numbers li {
		display:inline;
		}
			
	ul {
		list-style: none;
		}
		
	a {
		text-decoration:none;
		}
	
	a:link {
		color:#000;
		}
		
	a:visited {
		color:#3B3B3B;
		}
		
	a:hover {
		color:#1B6DE0;
		}

	.browse-male-armani {
		position: relative;
		top:-215px;
		left:240px;
		width:300px;
		text-align:center;
		font-family: 'Proxima Nova';
		font-size: 16px;
		}
		
	.armani {
		float:left;
		margin:5px;
		}

}

/*Smartphone*/
@media only screen and (max-width : 320px) {
	div.wrapper {
		width: 480px;
		height: auto;
		margin: 0px auto;
	}

	nav li {
		display: block;
		float: left;
		width: 40%;
	}

	#company {
		position: relative;
		top: 190px;
		padding-left: 10%;
		width: 350px;
	}
	
	#footer {
		position: relative;
		top: 200px;
		width: 320px;
	}
	
}
nav a:hover, #banner nav a:active

nav .active a:link, #banner nav .active a:visited {
	color: #1C75BC;
	text-shadow: none !important;
}

/* Footer info */
#footer {
	position: relative;
	top: 320px;
	height: 20px;
	background-color: #e6e6e6;
	padding-top: 20px;
	line-height: 0px;
	margin-top: -3em;
	text-align: center;
	font-size: 11.7px;
	font-family: "Proxima Nova";
	color: #4d4d4d;
}

/* Removes default a link colours */
a {
color: inherit;
}

a:hover {
color: #0071bc;
}

#company {
top: 190px;
left: -65px;
}