body {
	font-family:Helvetica, sans-serif;
	}

.browse-by-menu {
	margin:20px;
	background-color:#1B6DE0;
	width:200px;
	position:relative;
	}
	
.browse-by {
	color:#F2F2F2;
	padding: 1px 5px;
	}
	
.categories {
	background-color:#B8B8B8;
	padding-top:1px;
	padding-bottom:1px;
	margin-left:2px;
	margin-right:2px;
	position:float;
	outline-style:solid;
	outline-color:#858585;
	outline-width:thin;
	}
	
.categories-list {
	background-color:#E8E8E8;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
	font-size:80%;
	margin-bottom:0px;
	}
	
.gender {
	background-color:#B8B8B8;
	padding-top:1px;
	margin-left:2px;
	margin-right:2px;
	position:relative;
	margin-bottom:0px;
	outline-style:solid;
	outline-color:#858585;
	outline-width:thin;
	}
	
.gender-list {
	background-color:#E8E8E8;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
	font-size:80%;
	margin-bottom:0px;
	}
	
.gender .gender-list .male {
	color:#1B6DE0;
	}
	
.brand {
	background-color:#B8B8B8;
	padding-top:1px;
	padding-bottom:1px;
	margin-left:2px;
	margin-right:2px;
	position:relative;
	margin-bottom:0px;
	outline-style:solid;
	outline-color:#858585;
	outline-width:thin;
	}
	
.frame {
	background-color:#B8B8B8;
	padding-top:1px;
	padding-bottom:1px;
	margin-left:2px;
	margin-right:2px;
	position:relative;
	margin-bottom:0px;
	outline-style:solid;
	outline-color:#858585;
	outline-width:thin;
	}
	
.material {
	background-color:#B8B8B8;
	padding-top:1px;
	padding-bottom:1px;
	margin-left:2px;
	margin-right:2px;
	position:relative;
	margin-bottom:0px;
	outline-style:solid;
	outline-color:#858585;
	outline-width:thin;
	}
	
.size {
	background-color:#B8B8B8;
	padding-top:1px;
	padding-bottom:1px;
	margin-left:2px;
	margin-right:2px;
	position:relative;
	margin-bottom:0px;
	outline-style:solid;
	outline-color:#858585;
	outline-width:thin;
	}
	
.style {
	background-color:#B8B8B8;
	padding-top:1px;
	padding-bottom:1px;
	margin-left:2px;
	margin-right:2px;
	position:relative;
	margin-bottom:0px;
	outline-style:solid;
	outline-color:#858585;
	outline-width:thin;
	}
	
.price-range {
	background-color:#B8B8B8;
	padding-top:1px;
	padding-bottom:1px;
	margin-left:2px;
	margin-right:2px;
	position:relative;
	margin-bottom:0px;
	outline-style:solid;
	outline-color:#858585;
	outline-width:thin;
	}
	
.search {
	top:50px;
	right:30px;
	width:400px;
	position:absolute;
	}
	
.searchbar {
	outline-style:solid;
	outline-color:#BFBFBF;
	height:30px;
	}
	
.go-button {
	background-color:#BFBFBF;
	color:#F2F2F2;
	height:100%;
	text-align:right;
	position:relative;
	padding-right:5px;
	width:10%;
	left:355px;
	}
		
ul {
	list-style: none;
	}
	
a {
	text-decoration:none;
	}

a:link {
	color:#BFBFBF;
	}
	
a:visited {
	color:#3B3B3B;
	}